<script src="header.component.ts"></script>
<div class="logo">
  <span class="line"></span>
  <img src="logo.svg" alt="Gym Cultura Fitness">
  <span class="line"></span>
</div>
<div class="header">
  <div class="header-left">
    <h1>{{label}}</h1>
  </div>
  <div class="header-icons">
    <img src="notification-icon.svg" alt="Notifications" />
    <img src="settings-icon.svg" alt="Settings" />
    <img src="shop-icon.svg" alt="shopping cart" />
    <img src="profile.png" class="profile" alt="Profile" />
  </div>
</div>
