<div class="container">

  <app-header [label]="'Mensajes'"></app-header>

  <div class="search-bar">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Buscar mensaje" />
  </div>

  <div class="messages-list">
    <div class="message">
      <img src="profile.png" alt="Jenny Wilson" class="message-image" />
      <div class="message-info">
        <div class="message-author">Jenny Wilson</div>
        <div class="message-text">Hola Juan, ¿puedes asegurarte de completar las tareas que te di?</div>
      </div>
    </div>

    <div class="message">
      <img src="avatar.png" alt="Kathryn Murphy" class="message-image" />
      <div class="message-info">
        <div class="message-author">Kathryn Murphy</div>
        <div class="message-text">Hola Juan, ¿puedes asegurarte de completar las tareas que te di?</div>
      </div>
    </div>

    <div class="message">
      <img src="avatar.png" alt="Guy Hawkins" class="message-image" />
      <div class="message-info">
        <div class="message-author">Guy Hawkins</div>
        <div class="message-text">Hola Juan, ¿puedes asegurarte de completar las tareas que te di?</div>
      </div>
    </div>

    <div class="message">
      <img src="avatar.png" alt="Wade Warren" class="message-image" />
      <div class="message-info">
        <div class="message-author">Wade Warren</div>
        <div class="message-text">Hola Juan, ¿puedes asegurarte de completar las tareas que te di?</div>
      </div>
    </div>

    <div class="message">
      <img src="avatar.png" alt="Esther Howard" class="message-image" />
      <div class="message-info">
        <div class="message-author">Esther Howard</div>
        <div class="message-text">Hola Juan, ¿puedes asegurarte de completar las tareas que te di?</div>
      </div>
    </div>
  </div>

  <app-nav></app-nav>

</div>
