<div class="container">

  <app-header [label]="'Bienestar'"></app-header>

  <div class="calculator-list">
    <div class="calculator-item">
      <span>Calculadora IMC</span>
      <i class="fas fa-balance-scale"></i>
    </div>
    <div class="calculator-item">
      <span>Calculadora Calorías</span>
      <i class="fas fa-bolt"></i>
    </div>
    <div class="calculator-item">
      <span>Calculadora Proteínas</span>
      <i class="fas fa-chart-pie"></i>
    </div>
    <div class="calculator-item">
      <span>Calculadora Carbohidratos</span>
      <i class="fas fa-heartbeat"></i>
    </div>
  </div>



  <app-nav></app-nav>

</div>
