<div class="container">

  <app-header [label]="'Shop Gym'"></app-header>

  <div class="search-bar">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Buscar en tienda" />
  </div>

  <div class="filter-buttons">
    <button class="filter-button active">All</button>
    <button class="filter-button">Entrenamientos</button>
    <button class="filter-button">Suplementos</button>
    <button class="filter-button">Entrenadores</button>
  </div>

  <div class="product-list">
    <div class="product">
      <img src="protein.jpeg" alt="Whey Protein" class="product-image" />
      <div class="product-info">
        <div class="product-title">WHEY PROTEIN</div>
        <div class="product-category">Categoría: Suplementos</div>
        <div class="product-description">
          Proteína a base de suero de leche, baja en grasa y carbohidratos, aumenta la fuerza y mejora el rendimiento deportivo.
        </div>
        <div class="product-footer">
          <span class="product-price">$43.990</span>
          <i class="fas fa-bookmark"></i>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>

    <div class="product">
      <img src="weight-loss.jpeg" alt="Programa pérdida de peso" class="product-image" />
      <div class="product-info">
        <div class="product-title">Programa pérdida de peso</div>
        <div class="product-category">Categoría: Entrenamiento</div>
        <div class="product-description">
          Es un programa de entrenamiento de 12 semanas con acompañamiento y seguimiento para perder peso y ayudarte a conseguir tu mejor versión de forma sostenible y a largo plazo.
        </div>
        <div class="product-footer">
          <span class="product-price">$21.990</span>
          <i class="fas fa-bookmark"></i>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>

    <div class="product">
      <img src="protein.jpeg" alt="Creatina polvo" class="product-image" />
      <div class="product-info">
        <div class="product-title">Creatina polvo</div>
        <div class="product-category">Categoría: Suplementos</div>
        <div class="product-description">
          Ayuda a incrementar la fuerza, potencia y energía en cualquier actividad deportiva.
        </div>
        <div class="product-footer">
          <span class="product-price">$43.990</span>
          <i class="fas fa-bookmark"></i>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>

    <div class="product">
      <img src="weight-loss.jpeg" alt="Acondicionamiento general" class="product-image" />
      <div class="product-info">
        <div class="product-title">Acondicionamiento general</div>
        <div class="product-category">Categoría: Entrenamiento</div>
        <div class="product-description">
          Circuito multiestación de intensidad para acondicionamiento general a base de ejercicios con el propio peso.
        </div>
        <div class="product-footer">
          <span class="product-price">$21.990</span>
          <i class="fas fa-bookmark"></i>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>
  </div>



  <app-nav></app-nav>

</div>
