<div class="container">

  <app-header [label]="'Explorar'"></app-header>

  <div class="search-bar">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Buscar publicaciones" />
  </div>

  <div class="filter-buttons">
    <button class="filter-button active">All</button>
    <button class="filter-button">Entrenadores</button>
    <button class="filter-button">Vendedores</button>
  </div>

  <div class="posts">

    <div class="post">
      <div class="post-header">
        <img src="profile.png" alt="Author Image" class="author-image" />
        <div class="post-info">
          <div class="author">Jenny Wilson</div>
          <div class="category">Categoría: Entrenadores</div>
        </div>
      </div>
      <div class="content">
        Hola a todos, recientemente descubrí esta app y realmente me ha impresionado. Es ideal para aquellos que quieren empezar a ejercitarse y encontrar diferentes gimnasios cerca. Además, ofrece una plataforma integral para acceder a productos de fitness y clases de ejercicio en línea. ¡Les recomiendo que la prueben!
      </div>
      <div class="post-footer">
        <i class="fa-sharp fa-regular fa-heart icon"></i>
        <i class="fa-solid fa-comment icon"></i>
        <i class="fa-solid fa-square-plus icon"></i>
        <i class="fa-solid fa-share-nodes icon"></i>
        <img src="circle-ellipse.svg" alt="Share Icon" class="icon" />
      </div>
    </div>

    <div class="post">
      <div class="post-header">
        <img src="avatar.png" alt="Author Image" class="author-image" />
        <div class="post-info">
          <div class="author">Esther Howard</div>
          <div class="category">Categoría: Entrenadores</div>
        </div>
      </div>
      <div class="content">
        Hola amigos, acabo de encontrar esta aplicación y estoy realmente sorprendido por lo útil que es. Es perfecta para quienes están interesados en iniciar su rutina de ejercicio y buscan variedad de gimnasios en su zona. También proporciona una solución completa para adquirir equipamiento de fitness y participar en clases virtuales de entrenamiento. ¡No duden en probarla!
      </div>
      <div class="post-footer">
        <i class="fa-sharp fa-regular fa-heart icon"></i>
        <i class="fa-solid fa-comment icon"></i>
        <i class="fa-solid fa-square-plus icon"></i>
        <i class="fa-solid fa-share-nodes icon"></i>
        <img src="circle-ellipse.svg" alt="Share Icon" class="icon" />
      </div>
    </div>

    <div class="post">
      <div class="post-header">
        <img src="avatar.png" alt="Author Image" class="author-image" />
        <div class="post-info">
          <div class="author">Guy Hawkins</div>
          <div class="category">Categoría: Entrenadores</div>
        </div>
      </div>
      <div class="content">
        ¡Hola a todos! Recientemente exploré esta nueva aplicación y me ha encantado. Es ideal para las personas que están buscando comenzar a hacer ejercicio y necesitan localizar varios gimnasios próximos. También sirve como un recurso completo para productos de fitness y clases de ejercicio online. ¡Definitivamente vale la pena probarla!
      </div>
      <div class="post-footer">
        <i class="fa-sharp fa-regular fa-heart icon"></i>
        <i class="fa-solid fa-comment icon"></i>
        <i class="fa-solid fa-square-plus icon"></i>
        <i class="fa-solid fa-share-nodes icon"></i>
        <img src="circle-ellipse.svg" alt="Share Icon" class="icon" />
      </div>
    </div>

    <div class="post">
      <div class="post-header">
        <img src="avatar.png" alt="Author Image" class="author-image" />
        <div class="post-info">
          <div class="author">Kathryn Murphy</div>
          <div class="category">Categoría: Entrenadores</div>
        </div>
      </div>
      <div class="content">
        Hola chicos, debo intentar usar esta aplicación y es increíble. Especialmente para personas que desean ponerse en forma y mejorar. Ofrece planes de fitness a su alrededor. También una tienda de artículos de fitness y clases en vivo. ¡Es increíble!
      </div>
      <div class="post-footer">
        <i class="fa-sharp fa-regular fa-heart icon"></i>
        <i class="fa-solid fa-comment icon"></i>
        <i class="fa-solid fa-square-plus icon"></i>
        <i class="fa-solid fa-share-nodes icon"></i>
        <img src="circle-ellipse.svg" alt="Share Icon" class="icon" />
      </div>
    </div>

  </div>

  <app-nav></app-nav>

</div>
